<footer class="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <h2 class="logo-text">Panificadora</h2>
            <p>
                En Panificadora, nos esforzamos por ofrecer productos de panadería frescos y deliciosos, elaborados con ingredientes de la más alta calidad.
            </p>
            <div class="contact">
                <span><i class="fas fa-phone"></i> 123-456-789</span>
                <span><i class="fas fa-envelope"></i> info@Panificadora.com</span>
            </div>
            <div class="socials">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        <div class="footer-section links">
            <h2>Enlaces Rápidos</h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="footer-section contact-form">
            <h2>Contact</h2>
            <form action="#" method="post">
                <input type="email" name="email" class="text-input contact-input" placeholder="Tu correo electrónico...">
                <textarea rows="4" name="message" class="text-input contact-input" placeholder="Tu mensaje..."></textarea>
                <button type="submit" class="btn btn-big contact-btn">
                    <i class="fas fa-envelope"></i>
                    Enviar
                </button>
            </form>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2024 Panificadora | Todos los derechos reservados
    </div>
</footer>
</body>
</html>