<%-include('../partials/head')%>



    <section class="about-sec">
    <div class="about-text">
        <h2>SOBRE NOSOTROS</h2>
        <h3 class="text-about">En La panificadora, nos apasiona crear productos de panadería frescos y deliciosos que deleitan a nuestros clientes. Desde nuestro modesto comienzo como una panadería familiar en [ubicación], hemos crecido hasta convertirnos en un destino favorito para aquellos que buscan productos horneados de calidad y un servicio excepcional.</h3>
    </div>
    <div class="about-image">
        <img src="/images/imagen-about.jpg" alt="">
    </div>
</section>
<section class="about-trabajadores">
    <div class="trabajadores">
        <h2>NUESTROS TRABAJADORES</h2>
        <h3 class="text-about">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel ad iure quod qui sint eligendi, officia quam delectus porro, voluptas architecto obcaecati. Laborum ipsa in maxime alias laboriosam porro inventore!</h3>
    
    </div>
    
</section>


<%-include('../partials/footer')%>