<%-include('../partials/head')%>

<form action="/admin/nuevoproducto" method="post">
    <label for="">Nombre del producto</label>
    <input type="text" name="nombre_producto">

    <label for="">Cantidad de stock</label>
    <input type="number" name="stock">

    <label for="">Precio</label>
    <input type="number" name="precio_oferta">

    

    

    <button class="agregarProductoBtn">Agregar producto</button>
</form>


<%-include('../partials/footer')%>