<%-include('../partials/head')%>

<section class="section-compra">
<h1 class="compra-exitosa">¡Compra Exitosa!</h1>
    <p class="gracias">Gracias por tu compra.</p>
    <a class="comprar-mas" href="/">Volver a la tienda</a>
</section>
<%-include('../partials/footer')%>