<%-include('../partials/head')%>

<section class="contact-section" >
    <h2>CONTACTO</h2>
    <form action="" class="contact-form" method="post">
    <label for="name">Nombre</label>
    <input type="text" id="name" name="name" required>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
    <label for="message">Mensage</label>
    <textarea name="message" id="message" rows="4" required></textarea>
    <button>Enviar</button>
    </form>

</section>


<%-include('../partials/footer')%>