<%-include('../partials/head')%>

<section class="home-1">

    <H2 class="tittle-home">PANIFICADORA</H2>
    <img src="/images/banner-home1.png" alt="" style="width: 100%;">
</section>

<section class="home-2">
    <h2 class="tittle-home2">Nuestra ubicacion, en el gran buenos aires.</h2>
    <h3 class="tittle-home3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus eligendi pariatur at aut itaque expedita ipsa nesciunt voluptatem magni, dolor, natus praesentium doloribus minima numquam a obcaecati consectetur! Aliquam, quod?</h3>
    <img src="/images/banner-home2.png" alt="" style="width: 100%;">
</section>

<section class="home-3">

    <h3 class="pie-home">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur odio mollitia quia incidunt magnam reiciendis sunt similique autem ex eum, eveniet deleniti, culpa optio id ratione quidem exercitationem veniam doloremque.
    
         Lorem ipsum dolor, sit amet consectetur adipisicing elit. A deleniti deserunt quam
         et eaque in architecto, beatae libero aliquid voluptatem numquam vitae vero tempora iusto laboriosam officiis perspiciatis qui voluptatibus!

    </h3>
    <img class="banner-home4" src="/images/banner-home3.png" alt="">
</section>



<%-include('../partials/footer')%>