<%- include('../partials/head')%>


    <section class="register-section">

        <h2>INICIAR SECION</h2>
        <form action="" class="login-form" method="post">
            <label for="">Nombre de usuario:</label>
            <input type="text" name="username">
           
            <label for="">Contraseña</label>
            <input type="password" name="password">

            <button>Iniciar sesión</button>

            <p>¿No tienes cuenta? <a href="/register">Registrate</a></p>
            
        </form>
    </section>

    <%- include('../partials/footer')%>